# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: {{ dbPath }}
  journal:
    enabled: true
#  engine:
#  mmapv1:
#  wiredTiger:

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: {{ logPath }}

# network interfaces
net:
  port: {{ port }}
{% if replication_enabled == true %}  
  bindIp: {{ mongo_bindIp }},{{ ansible_eth0.ipv4.address }}
{% else %}
  bindIp: {{ mongo_bindIp }}
{% endif %}



# how the process runs
processManagement:
  timeZoneInfo: /usr/share/zoneinfo

#security:
{% if authentication_enabled == true %}
security:
  authorization: enabled
{% if replication_enabled == true %}
  keyFile: /etc/{{ mongo_authentication_keyname }}
{% endif %}
{% endif %}


#operationProfiling:

#replication:
replication:
  replSetName: {{ replica_set }}

#sharding:

## Enterprise-Only Options:

#auditLog:

#snmp: