# Managed by Ansible (mongodb_server role)
MONGODB_URI=mongodb://{{ mongodb_exporter_db_user }}:{{ mongodb_exporter_db_password }}@127.0.0.1:{{ mongo_port }}/admin?ssl=false
EXPORTER_LISTEN_ADDRESS=:{{ mongodb_exporter_port }}
