# mongod.conf

systemLog:
  destination: file
  logAppend: true
  path: {{ mongo_systemlog_path }}

storage:
  dbPath: {{ mongo_db_path }}

net:
  port: {{ mongo_port }}
  bindIp: {{ mongo_bindIp }}

{% if authentication_enabled == true %}
security:
  authorization: enabled
{% if replication_enabled == true %}
  keyFile: /etc/{{ mongo_authentication_keyname }}
{% endif %}
{% endif %}

{% if replication_enabled == true %}
replication:
  replSetName: {{ mongo_replSetName }}
{% endif %}
