[{{ mongo_package_name }}-{{ mongo_major_version }}]
name=MongoDB {{ mongo_major_version }} Repository
{% if ansible_distribution == "Amazon"  %}
baseurl={{ mongo_amazon_repository[mongo_major_version] }}
{% else %}
baseurl={{ mongo_redhat_repository[mongo_major_version] }}
{% endif %}
{% if mongo_redhat_repository_gpgkey[mongo_major_version] is defined and mongo_redhat_repository_gpgkey[mongo_major_version] != '' %}
gpgcheck=1
gpgkey={{ mongo_redhat_repository_gpgkey[mongo_major_version] }}
{% else %}
gpgcheck=0
{% endif %}
enabled=1
