rs.initiate({
  _id: "{{ mongo_replSetName }}",

  members: [
    {
      _id: 0,
      host: "{{ groups['mongo_master'][0] }}:{{ mongo_port }}",
      priority: {{ master_priority }}
    },

    {
      _id: 1,
      host: "{{ groups['mongo_slave'][0] }}:{{ mongo_port }}",
      priority: {{ slave_priority }}
    }
  ],

  settings: {
    heartbeatTimeoutSecs: {{ mongo_heartbeat_timeout_secs }},
    electionTimeoutMillis: {{ mongo_election_timeout_millisec }}
  }
})

printjson(rs.status())
