rs.initiate({
  _id: "{{ mongo_replSetName }}",

  members: [
{% set member_id = namespace(value=0) %}

{% for host in groups.get(mongodb_master_group, []) %}
    {
      _id: {{ member_id.value }},
      host: "{{ host }}:{{ mongo_port }}",
      priority: {{ master_priority }}
    }{% set member_id.value = member_id.value + 1 %}{% if not loop.last or
          (groups.get(mongodb_slave_group, [])) | length > 0 or
          (groups.get(mongodb_arbiter_group, [])) | length > 0 %},{% endif %}
{% endfor %}

{% for host in groups.get(mongodb_slave_group, []) %}
    {
      _id: {{ member_id.value }},
      host: "{{ host }}:{{ mongo_port }}",
      priority: {{ slave_priority }}
    }{% set member_id.value = member_id.value + 1 %}{% if not loop.last or
          (groups.get(mongodb_arbiter_group, [])) | length > 0 %},{% endif %}
{% endfor %}

{% for host in groups.get(mongodb_arbiter_group, []) %}
    {
      _id: {{ member_id.value }},
      host: "{{ host }}:{{ mongo_port }}",
      arbiterOnly: true
    }{% set member_id.value = member_id.value + 1 %}{% if not loop.last %},{% endif %}
{% endfor %}

  ],

  settings: {
    heartbeatTimeoutSecs: {{ mongo_heartbeat_timeout_secs }},
    electionTimeoutMillis: {{ mongo_election_timeout_millisec }}
  }
});

printjson(rs.status());
